<div class="content6">
    <h5>Follow us:</h5>
    <img src="/flink.svg" alt="" id="follow-links">
    <img src="/ilink.svg" alt="" id="follow-links">
    <img src="/twlink.svg" alt="" id="follow-links">
    <img src="/tilink.svg" alt="" id="follow-links">
    <img src="/blink.svg" alt="" id="follow-links">
</div>

<div class="content7">
    <div class="sub-content2">
    <div class="min-cont">
        <h5 style="color: aqua;">Dolphin Cove</h5><br>
        <a href="#"><li>Experiences</li></a>
        <a href="#"><li>Deals</li></a>
        <a href="#"><li>Investor Relations</li></a>
    </div>
    <div class="min-cont">
        <h5 style="color: aqua;">Trust Us</h5><br>
        <a href="#"><li>Contact Us</li></a>
        <a href="#"><li>Privacy Policy</li></a>
        <a href="#"><li>Social Media Policy</li></a>
        <a href="#"><li>Site policies</li></a>
        <a href="#"><li>Faq's</li></a>
        <a href="#"><li>Blog</li></a>
    </div>
    <div class="min-cont">
        <h5 style="color: aqua;">Information Cove</h5><br>
        <a href="#"><li>News</li></a>
        <a href="#"><li>About Us</li></a>
    </div>
    <div class="min-cont">
        <h5 style="color: aqua;">Sister Brands</h5><br>
        <a href="#"><li>Dolphin Discovery</li></a>
        <a href="#"><li>Yaaman</li></a>
        <a href="#"><li>Garrafon</li></a>
        <a href="#"><li>Aquaventuras</li></a>
        <a href="#"><li>Ocean Adventures</li></a>
    </div>
</div>
<hr>
<br>
    <div class="sub-content3">
        <h5>Proudly Part of</h5><br>
        <div id="tdc">
        <img src="/TDC_logo.svg" alt="" width="80px">
        </div>
    </div>
</div>