<!-- <script>
function openModal() {
    document.getElementById("habb").style.display = "block";
  }
  
  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }
  </script> -->
<div class="header-container">
    <img src="/logo.png" alt="" width="100px">
    <nav>
        <div id="hab">
            <a href="#">Habitats</a> <img src="/caret-down-solid.svg" alt="" id="drop-img">
            <div id="habb">
                <div class="place"><img src="/DolphinCove-Hero image.jpg" alt="" class="places">
                <h6>Ocho Rios</h6>
                </div>
                <div class="place"><img src="/mobay.jpg" alt="" class="places">
                    <h6>Montego Bay</h6>
                </div>
                <div class="place"><img src="/moonp.jpg" alt="" class="places">
                    <h6>Moon Palace</h6>
                </div>
                <div class="place"><img src="/ps.jpg" alt="" class="places">
                    <h6>Peurto Seco</h6>
                </div>
                <div class="place"><img src="/yaaman-adventure.jpg" alt="" class="places">
                    <h6>Yaaman</h6>
                </div>
        </div>
        </div>
        <a href="#">Experiences</a>
        <a href="#">Deals</a>
        <div class="b0x">
        <img src="/phone-flip-solid.svg" alt="" id="ph-img">
        </div>
        <div class="b0x">
        <img src="/cart-shopping-solid.svg" alt="" id="ph-img">
        </div>
</nav>
</div>
