<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image" href="/icon.jpg">
    <link rel="stylesheet" href="/home-page.css">
    <link rel="stylesheet" href="/slide.css">
    <script src="/scripts/script.js"></script>
  </head>
  <body>
    <div class="main-container">
      <!-- HEADER -->
  <%-include('partials/header'); %>

  <!-- HERO IMAGE -->
<img src="/montbay.jpg" alt="" id="hero-img">

<!-- LIGHT-BOX SLIDE -->
<div class="sub-container">
    <div class="sub-content">
<div class="content">
    <div class="row">
        <div class="column">
          <img src="/gallery1.jpg" style="width:100%; border-radius: 15px; border: 2px solid gray;" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
        </div>
        <div class="column">
          <img src="/gallery2.jpg" style="width:100%; height: 18.5vh; border-radius: 15px; border: 2px solid gray;" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
        </div>
        <div class="column">
          <img src="/gallery3.webp" style="width:100%; height: 18.5vh; border-radius: 15px; border: 2px solid gray;" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
        </div>
        <div class="column">
          <img src="/gallery4.jpg" style="width:100%; height: 18.5vh; border-radius: 15px; border: 2px solid gray;" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
        </div>
      </div>
      
      <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
      
          <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="/gallery1.jpg" style="width:100vh; height: 60vh;">
          </div>
      
          <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="/gallery2.jpg" style="width:100%; height: 60vh;">
          </div>
      
          <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="/gallery3.webp" style="width:100%; height: 60vh;">
          </div>
          
          <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img src="/gallery4.jpg" style="width:100%; height: 60vh;">
          </div>
          
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
          <div class="caption-container">
            <p id="caption"></p>
          </div>
      
          <div class="bb">
          <div class="column">
            <img class="demo cursor" src="/gallery1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Experience and Happiness">
          </div>
          <div class="column">
            <img class="demo cursor" src="/gallery2.jpg" style="width:100%; height: 22.4vh;" onclick="currentSlide(2)" alt="Bar and View">
          </div>
          <div class="column">
            <img class="demo cursor" src="/gallery3.webp" style="width:100%; height: 22.4vh;" onclick="currentSlide(3)" alt="Love for Dolphins">
          </div>
          <div class="column">
            <img class="demo cursor" src="/gallery4.jpg" style="width:100%; height: 22.4vh;" onclick="currentSlide(4)" alt="Dolphin Tricks">
          </div>
          </div>
        </div>
      </div>  
</div>

<!-- BOOKING FORM -->
<div class="content1">
    <h5 style="text-align: center; color: #fff;">Make Your Reservation</h5>
    <div class="input-content">

      <form action="#" method="post" >
        <div class="row">
            <div class="col">
                  <div class="mb-3">
                    <label for="l1" class="form-label">First Name :</label>
                    <input class="form-control" type="text" id="l1" placeholder="--firstname--" >
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="l1" class="form-label">Last Name</label>
                    <input class="form-control" type="text" id="l1" placeholder="--lastname--">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                  <div class="mb-3">
                    <label for="l1" class="form-label">Email :</label>
                    <input class="form-control" type="email" id="l1" placeholder="--email--" >
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="l1" class="form-label">Shedule :</label>
                    <input class="form-control" type="text" id="l1" placeholder="--shedule--">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                  <div class="mb-3">
                    <label for="l1" class="form-label">Choose the Activity :</label>
                    <input class="form-control" type="text" id="l1" placeholder="--activity--" >
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="l1" class="form-label">Adult PCKG :</label>
                    <input class="form-control" type="text" id="l1" placeholder="--adult packages--">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                  <div class="mb-3">
                    <label for="l1" class="form-label">Children PCKG :</label>
                    <input class="form-control" type="email" id="l1" placeholder="--children packages--" >
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="l1" class="form-label">Date :</label>
                    <input class="form-control" type="text" id="l1" placeholder="--date--">
                    </div>
            </div>
        </div>
        <input type="submit" value="Book Now" id="btn">
        </form>
    </div>
</div>

<!-- INFORMATION -->
<div class="content2">
<h4 style="font-weight: bold;">Dolphin Cove Montego Bay</h4> <br>
<p>Montego Bay is a piece of haven located on the North Coast of Jamaica, portraying lush natural scenes where the most coveted pristine and sandy white powdered beaches bathe the coastline. <br><br>

    Get ready to enjoy an epic adventure during your vacation in Montego Bay with booming water, eco-friendly activities, and trendy cultural spots to visit anytime. Take your family, friends, or significant other to explore the jaw-dropping beach area or enjoy a fun-filled getaway to Dolphin Cove Montego Bay! <br><br>
    
    At Dolphin Cove Montego Bay, thrilling moments are waiting with the most friendly marine mammal species in Jamaica. Discover what it feels like to hug and swim with a dolphin and fulfill your dream of swimming with dolphins in their natural habitat in Jamaica!</p>
    <br>
    <h5 style="font-weight: bold;">With your interactive program paid admission at Dolphin Cove Ocho Ríos, you get:</h5>
    <br>
    <div class="b0xx">
    <img src="/icon-check.svg" alt="" id="check"><li>Feeding the ostriches activity</li>
    </div>
    <div class="b0xx">
    <img src="/icon-check.svg" alt="" id="check"><li>Buffet lunch</li>
    </div>
    <div class="b0xx">
    <img src="/icon-check.svg" alt="" id="check"> <li>Dolphin Watching at Play</li>
    </div>
    <div class="b0xx">
    <img src="/icon-check.svg" alt="" id="check"><li>Activities with dolphins in their natural environment</li>
    </div>
    <div class="b0xx">
    <img src="/icon-check.svg" alt="" id="check"><li>Lifejackets</li>
    </div>
    <div class="b0xx">
    <img src="/icon-check.svg" alt="" id="check"><li>Use of facilities and showers</li>
    </div>
    <br>
    <p>Start planning your vacation in Montego Bay and 
        find the incredible plethora of engaging activities that Jamaica has for you, including a fun visit to Dolphin Cove Montego Bay!</p>
    <br>
    <h5 style="font-weight: bold;">Buy Now Your Interactive Experience at Dolphin Cove Montego Bay!</h5> <br>
    <div class="b0xx">
        <img src="/icon-check.svg" alt="" id="check"><li>Meet & Greet</li>
        </div>
        <div class="b0xx">
        <img src="/icon-check.svg" alt="" id="check"><li>Dolphin Encounter</li>
        </div>
        <div class="b0xx">
        <img src="/icon-check.svg" alt="" id="check"> <li>Dolphin Swim Adventure</li>
        </div>
        <div class="b0xx">
        <img src="/icon-check.svg" alt="" id="check"><li>Dolphin Royal Swim</li>
        </div>
    </div>
<div class="content3">
    <img src="/american-xpress.svg" alt="" width="60px">
    <img src="/visa.svg" alt="" width="60px">
    <img src="/mastercard.svg" alt="" width="60px">
    <img src="/paypal.svg" alt="" width="60px">
</div>
</div>
<h5 style="font-weight: bold; margin-top: 5vh;">Select your experience</h5> <br>

<div class="content4">
<div class="minbox">
    <img src="/dolph1.jpg" alt="" class="top">
    <div class="bottom">
        <h5 style="font-size: small; font-weight: bold;">Dolphin Royal Swim</h5>
        <div class="btm-bx">
            <span style="text-decoration: line-through; font-size: small;">$189 USD</span> <br>
            <span style="font-size: small;">$141.75 USD</span>
        </div>
    </div>
</div>
<div class="minbox">
    <img src="/dolph2.jpg" alt="" class="top">
    <div class="bottom">
        <h5 style="font-size: small; font-weight: bold;">Dolphin Swim Adventure</h5>
        <div class="btm-bx">
            <span style="text-decoration: line-through; font-size: small;">$149 USD</span> <br>
            <span style="font-size: small;">$111.75 USD</span>
        </div>
    </div>
</div>
<div class="minbox">
    <img src="/dolph3.jpg" alt="" class="top">
    <div class="bottom">
        <h5 style="font-size: small; font-weight: bold;">Encounter</h5>
        <div class="btm-bx">
            <span style="text-decoration: line-through; font-size: small;">$119 USD</span> <br>
            <span style="font-size: small;">$89.25 USD</span>
        </div>
    </div>
</div>
<div class="minbox">
    <img src="/dolph4.jpg" alt="" class="top">
    <div class="bottom">
        <h5 style="font-size: small; font-weight: bold;">A Day At Dolphin Cove</h5>
        <div class="btm-bx">
            <span style="text-decoration: line-through; font-size: small;">$39 USD</span> <br>
            <span style="font-size: small;">$35.1 USD</span>
        </div>
    </div>
</div>
</div>

<div class="content5">
    <div>
        <h4 style="font-weight: bold;">How to Get to Dolphin Cove Montego Bay?</h4> <br>
        <p >
            <span style="font-weight: bold;">Dolphin Cove Montego Ba</span>y is privileged located on the A1 Highway in the <br> northwest area,
            in a very secluded zone, where relaxation and memorable <br> fun moments will be part of your travel itinerary! <br><br>
            
            To get here, just take a taxi from your resort, or get on board a "route taxi", <br>
            the local transportation, from Montego Bay to other attractive towns in <br> Jamaica.
        </p>
    </div>
    <a href="#"><img src="/map.jpg" alt="" style="float: right; border-radius: 10px; box-shadow: 0px 4px 8px 0px;" width="450px"></a>
</div>
<br>
<br>
<hr>

<%-include('partials/footer'); %>
</div>

  </div>
</body>
</html>