body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

img{
    width: 12%;
    border-radius: 45%;
}

table, td{
    margin-top: 25px;
    margin-left: 10px;
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 5px 10px;
}
.bold-cell{
    font-weight: bold;
    text-align: center;
}

.btn{
    
    cursor: pointer;
    text-decoration: none;
}
.btn-sm{
    border-radius: 8%;
    padding: 2px 8px;
    font-size: small;
}
.btn-md{
    padding: 5px 14px;
    font-size: medium;
    border-radius: 14%;
}
.btn-lg{
    padding: 10px 20px;
    font-size: larger;
    border-radius: 5%;
}


.primary{
    background-color: #0275d8;
    color: #fff;
}
.success{
    background-color: #5cb85c;
    color: #fff;
}

.warning{
    background-color: #f0ad4e;
    color: #fff;
}

.danger{
    background-color: #d9534f;
    color: #fff;
}

